<% layout("/layouts/boilerplate") %>
<style>
    #container {
      height: 90vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .get-started {
      padding: 10px 20px;
      background-color: #fe424d;
      color: white;
      font-size: 1.5rem;
      border-radius: 8px;
      transition: 1s;
      text-decoration: none;
    }
  
    .get-started:hover {
      transform: scale(1.03);
    }
  </style>
  
  <div id="container">
    <a class="get-started" href="/listings">Get Started</a>
  </div>
  