<% layout("/layouts/boilerplate") -%>
<div class="col-6 offset-2 mt-4">
  <h1>Users of Wanderlust</h1>
<table class="table table-striped table-bordered mt-5 ">
  <thead>
    <tr clas="row"> 
      <th scope="col">Username</th>
      <th scope="col" >Email</th>
      
    </tr>
  </thead>
  <tbody>
      <% for(let user of allUsers) { %>
     <tr>
        
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        
     </tr>
    <% } %>
  </tbody>
</table>
</div>
  

